{$SITE_ADDRESS:http://:80} {
	encode gzip

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "geolocation=(), microphone=(), camera=()"
		-Server
	}

	@https {
		protocol https
	}
	header @https Strict-Transport-Security "max-age=31536000; includeSubDomains"

	handle {
		reverse_proxy gateway:8080
	}
}
